<!DOCTYPE html>
<body>
    <h1>Here there be pirates!</h1>
    <h2>Welcome to the Nested Forms Lab!</h2>
    <p>Welcome to the Pirate area. Get ready to sail the open seas...
    </p>
    <ul>
        <li><a href="/new">Create Pirates Here!</li>
    </ul>
</body>